<mat-card class="regist-card">
  <mat-card-content>
    <form class="example-form">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date"
               (dateInput)="registDatePickerChangeEvent('input', $event)" (dateChange)="registDatePickerChangeEvent('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button [color]="'primary'" (click)="clickDateRegist($event)">날짜 등록</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="regist-card">
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="날짜" [(ngModel)]="inputRegistCenterDateIdx" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let registerdDate of repository.dateList; let idx = index" [value]="idx">
            {{ registerdDate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="센터명" [(ngModel)]="inputRegistCenterName" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <button mat-raised-button [color]="'primary'" (click)="clickCenterRegist($event)">센터등록</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="regist-card">
  <mat-card-content>
    <div>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-select [(ngModel)] = "menuData.date" [formControl]="selectDate" placeholder="날짜">
            <mat-option *ngFor="let registerdDate of repository.dateList; let idx = index" [value]="idx">
              {{ registerdDate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-select [(ngModel)] = "menuData.centerName" [ngModelOptions]="{standalone: true}" placeholder="센터명(날짜별)">
            <mat-option>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-select [(ngModel)] = "menuData.time" [ngModelOptions]="{standalone: true}" placeholder="식사시간">
            <mat-option>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-select [(ngModel)] = "menuData.type" [ngModelOptions]="{standalone: true}" placeholder="메뉴타입">
            <mat-option>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div>
      <form class="example-form">
        <mat-form-field class="input-menu-form">
          <input [(ngModel)] = "menuData.menu" [ngModelOptions]="{standalone: true}" matInput  placeholder="메뉴">
        </mat-form-field>
        <button mat-raised-button [color]="'primary'" (click)="clickCenterRegist($event)">메뉴등록</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
